* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
  }
  body {
    background-color: #161436;
  }
  .card {
    width: 640px;
    height: 400px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-perspective: 1200px;
    perspective: 1200px;
    transition: 1s;
  }
  .p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .card:hover {
    transform: rotate(-5deg);
  }
  .card:hover .outside {
    transform: rotateY(-130deg);
  }
  .outside,
  .inside {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50.1%;
  }
  .inside {
    background: linear-gradient(to right, #ffffff, #907f57 90%);
    line-height: 3;
    padding: 0 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 50%;
  }
  .outside {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
    transform-origin: left;
    transition: 2s;
    cursor: pointer;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  .front {
    background-color: #e9d096;
  }
  .front p {
    text-align: center;
  }
  .hello {
    left:50px;
    top: 200px;
    text-align: center;
  }
  .back {
    transform: rotateY(180deg);
    background: linear-gradient(to left, #ffffff, #e9d096 90%);
  }
  .ghost {
    width: 95%;
    position: absolute;
    bottom: 30px;
    right:8px;
    border-radius: 5%;
  }
 